.card-member {
    width: 20%;
    margin: 10px;
    overflow: visible !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    .MuiAvatar-circular {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
    }
    .content {
      padding-top: 60px;
      text-align: center;
      .name {
        color: $color-pr-3;
      }
  
      .dept {
        // font-weight: bold;
        font-size: 18px;
        font-weight: 500;
      }
    }
    @media only screen and (max-width: 768px) {
      width: 45%;
      margin-bottom: 70px;
    }
    @media only screen and (max-width: 549px) {
      .content {
        font-size: 14px;
      }
      width: 100%;
      margin-bottom: 55px;
    }
  }
  