.list-submission {
    margin: 50px 0 20px 0;
    .header-submission {
      @include flex(row, space-between, center, nowrap);
      h4 {
        margin-bottom: 0;
        color: $color-pr-3;
      }
      p {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bold;
      }
    }
  
    .header-line {
      &::after {
        content: "";
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.2)
        );
        height: 4px;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        // margin-left: 5px;
      }
    }
  
    .MuiTablePagination-root {
      p {
        margin-bottom: 0 !important;
      }
    }
  }
  