.post {
    margin: 50px 20% 50px 20%;
    .card-header-function {
      width: 100%;
      display: inline-flex;
    }
    .card-post {
      width: 100%;
      .card-post-name {
        font-weight: bold;
      }
      .show-helper-text {
        margin-left: 65%;
        text-align: right;
        font-size: smaller;
        color: gray;
      }
      .post-author {
        color: rgb(31, 121, 224);
        font-size: 16px;
      }
    }
    @media only screen and (max-width: 768px) {
      margin: 50px 5% 50px 5%;
    }
    @media only screen and (max-width: 550px) {
      .card-post {
        .show-helper-text {
          margin-left: 50%;
        }
      }
      margin: 30px 5% 30px 5%;
    }
  }
  